
<% if @result['data']['returnflights'].present?%>
<div id="content">
  <div class="left w50"><%= render partial: "one_bus"%></div>
  <div class="left w50">     <%= render partial: "return_bus"%></div>
</div>

<%else%>
<div id="content">
<%= render partial: "one_bus"%>
</div>      
 

<%end%>
<style type="text/css">
html {
    font-size: 62.5%;
}
body {
    background-color: white;
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}
/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}
.left {
    float: left;
}
.w50 {
    width: 50%;
}
</style>     